{% extends 'patients/base.html' %}

{% block content %}
<div class="about-container">
              <div>
                            <div class="about-header">
                                          <div class="mark"></div>
                                          <div class="header-text">
                                                        Добро пожаловать на главную страницу госпиталя Djago!
                                          </div>
                            </div>
                            <p class="about-text">
                                          Наш госпиталь предлагает широкий спектр медицинских услуг, включая общую
                                          практику,
                                          лабораторные
                                          исследования, диагностику, хирургические операции и терапию.


                            <p class="about-text">
                                          Мы гордимся нашими профессиональными медицинскими работниками, которые имеют
                                          высокую
                                          квалификацию и
                                          большой опыт работы. Наш персонал работает с пациентами всех возрастов и
                                          заботится о том,
                                          чтобы каждый
                                          человек получал индивидуальный подход и качественную медицинскую помощь.
                            </p>

              </div>
</div>
<img class="about-image" src="../static/patients/images/about_image.png">
{% endblock %}