{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;600&display=swap" rel="stylesheet">
    <link type="text/css" href="{% static 'patients/css/styles.css' %}" rel="stylesheet" />
    
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'patients/images/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'patients/images/images/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'patients/images/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'patients/images/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'patients/images/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'patients/images/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'patients/images/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'patients/images/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'patients/images/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'patients/images/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'patients/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'patients/images/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'patients/images/favicon-16x16.png' %}">
    <link rel="manifest" href="../static/images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'patients/images/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    {% block mainmenu %}
    <div class="header">
        <ul id="mainmenu" class="mainmenu">
            <li class="logo">
                <a href="{% url 'home' %}">
                    <img class="logo-image" src="{% static 'patients/images/logo.png'%}">
                </a>
            </li>

            <div class="center-list">
                {% for m in menu %}
                <li class="mainmenu__item">
                    <a href="{% url m.url_name %}">{{ m.title }}</a>
                </li>
                {% endfor %}
                <li class="mainmenu__item">
                    <a href="{% url 'medics' %}">Врачи</a>
                </li class="mainmenu__item">
            </div>

            {% if request.user.is_authenticated %}
            <li class="last"> {{user.username}}
                <a href="{% url 'logout' %}">Выйти</a>
            </li>
            {% else %}
            <li class="last">
                <a href="{% url 'register' %}">Регистрация</a>
                <a href="{% url 'login' %}">Войти</a>
            </li>
            {% endif %}
        </ul>
    </div>
    {% endblock mainmenu %}
    {% block content %}
    {% endblock content %}
</body>

</html>