{% extends 'patients/base.html' %}
{% block content %}
        <h1>{{title}}</h1>
        <ul>
                {% for med in medics %}
                        <li>
                                <a href="{{med.get_absolute_url}}">
                                {{med.first_name}}
                                {{med.last_name | upper}}
                                </a>
                                {{med.grouptype}}
                        </li>
                {% endfor %}
        </ul>
        <p>Всего медиков: {{medics | length}}</p>
<p><a href="{% url 'addmedic' %}">Зарегестрировать врача</a></p>
{% endblock %}
