ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #1D1D1D;
}

* {
    padding: 0;
    margin: 0;
    gap: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(45deg, #A2398D, #E7E7E7, #E7E7E7, #206FB6) fixed;
    background-size: 400% 400%;
    width: 100%;
    height: 100vh;
    animation: animate 30s ease infinite;

}

.logo-image {
    max-width: auto;
    max-height: 75px;
}

.mainmenu {
    margin: 29px 147px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center-list {
    display: flex;
    gap: 32px;
    font-size: 24px;

}

.last {
    display: flex;
    gap: 14px;
    align-items: center;
    font-size: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #505050;
}

.last a {
    padding: 13px 24px;
    background-color: #DBDBDB;
    color: #0070FF;
    font-size: 20px;
    border-radius: 8px;
    border: none;
}

.about-container {
    display: flex;
    align-items: center;
    margin: 143px 0 140px 147px;
    max-width: 1029px;
}

.about-text {
    margin-top: 49px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;

    color: #1D1D1D;
}

.about-header {
    position: relative;
}

.header-text {
    z-index: 98999;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    color: #1D1D1D;
    position: relative;
}

.mark {
    z-index: 1;
    background: #AD80B0;
    border-radius: 25px;
    height: 64px;
    width: 235px;
    position: absolute;
    top: 75px;
    left: 676px;

}

.about-image {
    max-height: 550px;
    width: auto;
    position: absolute;
    right: 0;
    top: 295px;
}

@keyframes animate {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 80% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Регистрация */
.registration_container_container {
    display: flex;
    justify-content: center;
    margin-top: 127px;
}

.registration_container {
    display: flex;
    margin: 0;
    width: 578px;
    height: 786px;
    background-color: #FFFFFF;
    border-radius: 81px;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.back-button {
    background: #8DA9CD;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    left: -50px;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-button__arrow {
    margin-left: -10px;
}

.registration-logo {
    max-width: 233px;
    margin-top: 24px;
}

.registration-header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    color: #000000;
    margin-top: 56px;
    margin-bottom: 23px;
}

.registration_form {
    width: 506px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.registration_form p {
    display: flex;
    justify-content: center;
    margin-bottom: 42px;
    width: 100%;

}

.registration_form p input {
    width: 100%;
    height: 59px;
    border-radius: 21px;
    background-color: #E9E9E9;
    border: none;
    padding: 0 29px;
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #343434;
}

.registration_form .errorlist {
    margin-bottom: 42px;
}

.registration-button {
    width: 310px;
    height: 54px;
    background: #8DA9CD;
    border-radius: 15px;
    border: none;
    margin-top: 43px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}

/* Медики */
.medics-container {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.medics-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 170px 134px;
}

.medics-list__photo {
    background-color: #FFD6D6;
    width: 450px;
    height: 600px;
    border-radius: 30px;
    margin-bottom: 32px;
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
}

.medphoto {
    border-radius: 30px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* height: 90%; */
}

.medics-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    color: #000000;
}

.medics-category {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #3A3A3A;
}

/* Логин */
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 578px;
    margin: auto;
    margin-top: 127px;
    margin-left: auto;
    margin-right: auto;
}

.auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 81px;
    padding: 0 36px;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.login-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    margin: 24px 0;
}

.login-logo {
    max-width: 233px;
    height: auto;
}

.login-header-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    color: #000000;

}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.auth-form p {
    display: flex;
    justify-content: center;
    margin-bottom: 42px;
    width: 100%;
}


.form-input {
    width: 100%;
    height: 59px;
    border-radius: 21px;
    background-color: #E9E9E9;
    border: none;
    padding: 0 29px;
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #343434;
}

.login-button {
    width: 310px;
    height: 54px;
    background: #8DA9CD;
    border-radius: 15px;
    border: none;
    margin-top: 43px;
    margin-bottom: 63px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}